$bg1: #154734;
$bg2: #2E8B57;
$bg3: #A9E5BB;

$button-main: #154734;
$button-nav: #154734;
$button-subnav: #2E8B57;
$button-card: #A9E5BB;
$button-hover: #1A553E;
$button-nav-hover: #1A553E;
$button-active: #0B251B;
$button-nav-active: #0B251B;
$button-disabled: #CCCCCC;
$button-warn: #BF8B22;
$button-warn-hover: #A87A1D;
$button-warn-active: #986E1A;

$main-border: #F8F9F8;
$secondary-border: #C1C1C1;
$nav-border-left: #2E8B57;
$nav-border-left-active: #17452B;
$disabled-border: #999999;
$card-bg: #F8F9F8;
$card-bg-hover: #BBBBBB;
$accordion-bg: #F8F9F8;
$table-bg: #2B2B2B;
$table-bg-hover: #BCBEC0;
$table-bg-warn-hover: #DB9F28;
$table-bg-error-hover: #EF3636;
$table-bg-success-hover: #39973E;
$table-second-bg: #A9E5BB;
$table-header-bg: #154734;
$checkbox-color: #F2F2F2;
$form-color: #E3E3E3;
$hover-nav: #FFF;
$tab-nav-bg: #F2F2F25F;
$glass: #F2F2F299;
$loading-bg: #d07c7c;

$main-font: #F8F9F8;
$secondary-font: #111111;
$tertiary-font: #444444;
$black-transparent: #00000099;
$hover-font: #BCBCBC;
$secondary-hover-font: #5B5B5B;
$active-font: #7A7A7A;
$disabled-font: #666666;
$logo-font: #154734;
$disabled-font: #666666;
$helper-text-font: #00000099;
$info-font: #2C94F8;

$success-color: #2E7D32;
$error-color: #DB3131;
$warn-color: #BF8B22;
$info-color: #1749af;
$highlight-color: #B6B301;
